	    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src ="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="/javascripts/application.js"></script>

  </body>
</html>