		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src ="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script src="/javascripts/application.js"></script>
	<div class="row">
		<nav class="navbar navbar-inverse header">
	        <div class="row container-fluid">
	        	<div class="navbar-header col-md-2 col-sm-2 col-xs-2">
	            	<a style="margin-left: 2%" class="navbar-brand" href="/">GuestAdvisor</a>
	          	</div>
	          	<div class="col-md-6 col-sm-6 col-xs-6">
	          	</div>
	          	<div class="col-md-4 col-sm-4 col-xs-4">
	            	<a href="/">Home | </a><a href="/login">Login | </a><a href="Guests">Guests</a>
	          	</div>
	        </div>
	    </nav>
	</div>
	
  </body>
</html>