</div>
	</div>	
	 	<footer>
		<div class="row">
			<nav class="navbar navbar-inverse header">
		        <div class="row container-fluid">
		        	<div class="navbar-header col-md-2 col-sm-2 col-xs-2">
		            	<a style="margin-left: 2%" class="navbar-brand logo" href="/">GuestAdvisor</a>
		          	</div>
		          	<div class="col-md-6 col-sm-6 col-xs-6">
		          	</div>
		          	<div class="col-md-4 col-sm-4 col-xs-4">
		            	<a href="/">Home | </a><a href="/login">Login | </a><a href="Guests">Guests</a>
		          	</div>
		        </div>
		    </nav>
		</div>
	</footer>
  </body>
</html>