<% include ./partials/header %>

      <form action="/reviews/new" method="post">
         <fieldset>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter guest's name" />
            <br />
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter guest's email" />
            <br />
            <label for="review">Review:</label>
            <textarea id="review" name="review" placeholder="Enter your guest review here"></textarea>
            <br />
            <label for="rating">Guest Rating:</label>
            <select id="rating" name="rating">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select></br>
            <div id="spacer" class="row col-md-12"></div>
            <input type="submit" value="Submit New Review" />
         </fieldset>
      </form>
   </body>