body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px 5px 0px 5px;
  background-image: url(/images/grand_budapest_copy.jpg);
  background-position: top;
}

h4 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  padding: 0px;
}

.navbar-inverse {
  background-color: #2b0081;
}

.logo {
  font-size: 35px;
  font-family: 'Amatic SC', cursive;
  color: #fae596;
}

#login {
  height: 200px;
}

#login_here {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
}

#sign_up {
  height: 200px;
}

#sign-up-link {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

#new_user {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;  
}

.review_guest {
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
}

#user_rev {
  margin: 2px 0px 0px 0px;
  height: 260px;
  overflow: scroll;
}

#guest_rev {
  margin: 0px 0px 0px 15px;
  height: 200px;
}

#user_recent_reviews {
  text-align: center; 
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
}

#guest-panel {
  margin-top: -10px;
}


#guest_recent {
  height: 225px;
  overflow: scroll;
}

#guest_name {
  font-family: 'Amatic SC', cursive;
  font-size: 35px;

}

.panel-title {
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
}

.panel {
  background-image: url(/images/marble.jpg);
  border-radius: 25%;
}

#live_feed_panel {
  height: 200px;
}

#review_panel {
  margin: 0px 0px 0px 1px;
  height: 200px;
}

a {
  color: #00B7FF;
}

#spacer {
	height: 10px;
}

#sign-up-spacer {
  height: 10px;
}

.ui-helper-hidden-accessible { 
  display:none; 
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}
